.cell {
	height: 0;
	width: 100%;
	padding-bottom: 100%;
	display: grid;
	/*	grid-template-columns: 1fr;*/
	/*	grid-template-rows: 100vh;*/
	align-items: center;
	justify-items: center; /* adjusted */
	place-content: center;
}

.light-square {
	background-color: #457b9d;
}
.dark-square {
	background-color: #1d3557;
}

.clicked {
	background-color: #00e3cc;
	/*	--bs-text-opacity: 0.25;*/
}

.circle {
	/*height: 50px;
	width: 50px;*/
	transform: scale(2, 2);
	position: relative;
	top: 50%;
	/*	top: 100%;*/
}
.circle-div {
	display: flex;
}
img {
	/*	height: 100%;*/
	position: relative;
	top: 50%;
	/*	height: 175%;*/
	width: 100%;
}

h4 {
	/*	position: absolute;*/
	/*	top: 0%;*/
}
